body { background: #700be7; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 52px; display: flex; }
.block-helper-0 { color: #5c5dae; font-size: 16px; margin-bottom: 5px; }
.block-filter-1 { color: #ae7e19; font-size: 17px; margin-bottom: 5px; }
.block-shipping-2 { color: #869428; font-size: 16px; margin-bottom: 5px; }
.block-payment-3 { color: #796bff; font-size: 14px; margin-bottom: 5px; }
.block-database-4 { color: #bfa4af; font-size: 15px; margin-bottom: 5px; }
.block-uploader-5 { color: #c59bf7; font-size: 12px; margin-bottom: 5px; }
.block-metrics-6 { color: #fdcf1f; font-size: 14px; margin-bottom: 5px; }
.block-order-7 { color: #a76548; font-size: 13px; margin-bottom: 5px; }
.block-email-8 { color: #48a959; font-size: 13px; margin-bottom: 5px; }
.block-email-9 { color: #70d732; font-size: 19px; margin-bottom: 5px; }